# vscode specific
.vs
.vscode

# build file directories
fibbonaciNumbers/*
#/fibbonaciNumbers/bin/Debug/
#/fibbonaciNumbers/obj/Debug/
#/fibbonaciNumbers/bin/Release/
#/fibbonaciNumbers/obj/Release/

# build file extensions
*.pdb
*.exe
*.dll